description = "Default layout"
==
<!DOCTYPE html>
<html>
    <head>
        {% partial 'site/head' %}
    </head>
    <body class="{{ 'page-'~this.page.id }}">

        <!-- Header -->
        <header id="layout-header">
            {% partial 'site/header' %}
        </header>

        <!-- Content -->
        <section id="layout-content" class="container">
            <h2>Page pulled from %page%  variable</h2>
            {% page %}
        </section>

        <!-- Footer -->
        <footer id="layout-footer">
            {% partial 'site/footer' %}
        </footer>

        <!-- Scripts -->

        <script src="{{ [
            'assets/vendor/jquery.js',
            'assets/vendor/bootstrap.js',
            'assets/vendor/codemirror/codemirror.js',
            'assets/vendor/codemirror/twig.js',
            'assets/javascript/app.js',
        ]|theme }}"></script>

        {% framework extras %}
        {% scripts %}
    </body>
</html>